.container {
  width: 960px;
  margin: 0 auto;
}

#grid {
  border-collapse: collapse;
}

#grid td {
  width: 8px;
  height: 8px;
  border: 1px solid red;
}

.snake {
  background-color: black;
}

.snake_head {
  background-color: red;
}

.food {
  background-color: blue;
  border-radius: 50%;
}

#button {
  visibility:hidden;
}

#over {
  visibility: hidden;
}
